.listaContainer {
  padding: 40px;
  background-color: #000;
  color: #fff;
  min-height: 100vh;
}

.gridObras {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 5px;
}