.listaContainer {
  padding: 20px;
  background-color: #000;
  color: #fff;
  min-height: 100vh;
}

.gridObras {
  display: grid;
  gap: 5px;
  grid-template-columns: repeat(3, 1fr);
}

@media (min-width: 1000px) {
  .gridObras {
    grid-template-columns: repeat(4, 1fr);
  }
}