.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background-color: black;
  height: 40px;
}

.logo a {
  text-decoration: none;
  color: white;
  font-size: 24px;
  font-weight: 700;
}

.navigation ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 30px;
}

.navigation a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  font-family: 'Inter';
  font-weight: 400;
  padding-bottom: 5px;
  position: relative;
  transition: color 0.3s ease;
}

.navigation a:hover {
  color: #E11DAA;
}

.navigation a:hover::after {
  width: 100%;
}

.hamburgerMenu {
  display: none;
  cursor: pointer;
  flex-direction: column;
  gap: 4px;
}

.line {
  width: 25px;
  height: 3px;
  background-color: white;
  border-radius: 5px;
}

@media (max-width: 960px) {
  .navigation {
    display: none;
  }
  
  .hamburgerMenu {
    display: flex;
  }
}