.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background-color: black;
}

.logo a {
  text-decoration: none;
  color: white;
  font-size: 24px;
  font-weight: 700;
}

.navigation ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 30px;
}

.navigation a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  font-weight: 500;
  padding-bottom: 5px;
  position: relative;
  transition: color 0.3s ease;
}

.navigation a:hover {
  color: #d034b9;
}

.navigation a:hover::after {
  width: 100%;
}